body {
  margin: 0;
  /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  /* sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;
}

/* Sticky footer */
main {
  flex: 1 0 auto;
}

/* Nav */
.section-primary-header .brand-logo .icon-logo {
  margin-right: 0;
  margin-left: 10px;
}

.last-nav-li {
  margin-right: 15px;
}

/* Side nav */
.user-view {
  background: rgba(63, 57, 77, 0.4);
  min-height: 100px;
}

.user-view .background {
  min-height: 100px;
  padding-bottom: 30px;
}

/* -----HomePage---- */
.section-divider .divider-box {
  display: block;
  height: 15px;
  width: 180px;
  margin: auto;
}

/* Slider */

.slider-line {
  margin-top: 0;
  width: 100%;
  height: 5px;
}

.slider {
  height: 70vh !important;
}

.section-slider .slides li .caption {
  margin-top: 160px;
}

.section-slider .slides {
  height: 70vh !important;
}

.section-slider a {
  margin: 5px;
}

/* Icon Boxes */
.section-icon-boxes {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Secondary header */
.section-secondary-header,
.section-social-media-header {
  padding: 30px 0px 30px 0px;
  background-color: #141414;
}

.section-secondary-header img {
  margin: 5px;
  cursor: pointer;
}

.section-secondary-header .row {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* Stats */
.section-stats {
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-stats p {
  margin-top: 0px;
  font-size: 1.7rem;
}

.stats-square i {
  margin-bottom: 15px;
}

.stats-square {
  border: dotted black 3px !important;
}

.section-stats .count-up-number {
  font-size: 2rem;
}

/* .section-stats .card-panel {
} */

/* About */
.section-about {
  padding-bottom: 60px;
}

.section-about p {
  font-size: 1.4rem;
}

.section-about img {
  height: 100%;
  width: 100%;
}

/* Footer */
footer .find-me {
  margin-left: 26px;
}

footer i {
  margin: 10px;
  color: #f5f5f5;
}

footer i:hover {
  color: #00e5ff;
}

.footer-copyright i:hover {
  color: #00e5ff !important;
}

/* Header */
.section-header {
  position: relative;
  background: url(../assets/running21.jpg);
  background-size: center;
  /* border-top: #333 solid 5px; */
  border-bottom: #333 solid 5px;
  min-height: 180px;
}

.primary-overlay {
  background: rgba(69, 206, 153, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vertical-center {
  vertical-align: middle;
}

/* Login, Signup modals */
.err-msg {
  color: #d50000;
  font-size: 0.9rem;
}

/* Training Detail */
.section-training-detail .training-stats {
  margin-bottom: 70px;
}

.training-squares p {
  font-size: 1.2rem;
}

.bolder-text {
  font-weight: bold;
}

@media (max-width: 600px) {
  .section-slider .slides li .caption {
    margin-top: 100px;
  }

  .section-stats .stats-square {
    margin: 20px;
  }

  .section-stats .stats-square .counter {
    font-size: 1.8rem;
  }
}
